#! /bin/sh

pgrep -x sxhkd > /dev/null || sxhkd &

bspc monitor -d {{ range(1, bspwm_desktops + 1) | join(' ') }}

{% for key, value in bspwm_config.items() %}
bspc config {{ key }} {{ value }}
{% endfor %}

{% for rule in bspwm_rules%}
bspc rule -a {{ rule }}
{% endfor %}
